{% extends 'base.html.twig' %}

{% block title %}
    {{ dangerosite.typeDanger }} 
    {{ dangerosite.phraseRisque }}
{% endblock %}

{% block body %}
<h1>
    {{ dangerosite.typeDanger }} 
    {{ dangerosite.phraseRisque }}
</h1>

{% endblock %}